@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

  .roboto-banner{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  *{
    margin: 0;
    padding: 0;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
  .all-title{
    font-weight: 700;
    font-size: 2.50rem;
    color: #FFFFFF;
  }
  body{
    background-color: #111111;
  }
  .Fitness{
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
  }
  .description{
    font-size: 0.80rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 48px;
  }
  .btn-primary{
    font-weight: 600;
    font-size: 1rem;
    border-radius: 46px;
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 40px;
  }
  
  /* navbar style */
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}
.dark-1{
 
 
  
}
  .header{
    background-image: linear-gradient(rgba(17, 17, 17, 1),rgba(112, 112, 112, 0.5),rgba(119, 119, 119, 0));
    position: relative;
    width: 100%;
   height: 100%;
    z-index: 9;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    padding: 20px 100px;
    z-index: 4;
   
  }
  nav> ul li{
    list-style: none;
  }
  nav ul a{
    text-decoration: none;
    color: #FFFFFF;

  }
  .nav{
    display: flex;
    gap: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 39px;
    
  }
  .home{
    width: 224px;
    height: 22px;
    background-color: #E6533C;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    padding: 8px 20px;
  }
  /* banner style */
  .banner{
    
    justify-content: space-between;
    align-items: center;
    gap: 30px 30px;
    width: 100%;
  }
  .banner-box{
    max-width: 100%;
    
    text-align: start;
    padding: 10px 97px;
   
  }
  .shape{
    font-family: "Ms Madi", cursive;      
  }
  
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 28px;
  
  }
  .btn-don{
    font-weight: 600;
    font-size: 1rem;
    border-radius: 46px;
    background-color: #111111;
    color: #FFFFFF;
    padding: 16px 40px;
  }
  
  .banner-img{
   height: 580px;
   width: 349px;
   padding-right: 125px;
   position: relative;
   
  }
  
  .ball{
    width: 35px;
    height: 35px;
    background-color: #E6533C;
    border-radius: 50%;
  }
  .btn-span{
   
    width: 160px;
    height: 100px;
    border-radius: 12px;
    background-color: rgba(48, 48, 48, 0.54);
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 12px;   
    padding: 8px 10px;
  }
  #button-top{
   position: absolute;
   left: -103px;
   bottom: 80px;

 
  }
  #button-left{
   position: absolute;
   top: 130px;
   right: 100px;
   text-align: center;
     
  }

/* media quary */
  @media screen and (max-width: 576px) {
    .hamburger {
      display: flex;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .header{
    width: 100%;
    
  }
  .nav{
    display: none;
    position: sticky;
    top: 60px;
    right: 0;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3 ease-in-out;
}
.nav:hover{

}
.nav.active {
  transform: translateX(100%);
}
.nav li {
  margin: 20px 0;
}
.banner{
 
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 0px;
  


}
.banner-box{
  
  padding: 45px 20px;
  margin: 0px;
} 
.banner-img{
  width: 100%;
  padding: 0px;
  margin: auto;
}
.banner-img img{
  
}
.btn-primary,.btn-don{
  padding: 10px 20px;
}
.btn-span{
  width: 150px;
  height: 80px;
  border-radius: 22px;
  padding: 5px;
}
#button-left{
  position: absolute;
  right: 5px;
 

}
#button-top{
  position: absolute;
  left: 0px;
  bottom: 80px;
  }
}



   
    
  
  